<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                              <img src="/Images/bg1.png" alt="about" class="img-fluid" width="500px" title="Sandy">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather Forecast</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span>, and a freelancer</h1>
                        <a href="" target="_sandhya"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    {{>footer}}
</body>
</html>
